DATABASE_URL=sqlite:./data/lockguardian.db?mode=rwc
SERVER_HOST=0.0.0.0
SERVER_PORT=8080
DOMAIN=http://localhost:8080
RSA_KEY_PATH=./data/rsa_key.pem
SIGNUPS_ALLOWED=true
LOG_LEVEL=info
ATTACHMENTS_FOLDER=./data/attachments
